.writing-font, .writing-font-center {
  font-weight: 300;
}

.writing-font {
  text-align: justify;
}

.writing-font-center {
  text-align: center;
}

.wr-a {
  color: #f78932;
}

.first-space-between {
  margin-top: 2em 0 5em 0;
}

.wr-border {
  border-bottom: 1px solid #f78932;
  width: 4em;
}

@media only screen and (min-width: 992px) {
  .space-between {
    margin: 5em 0 5em 0;
  }

  .dis-none .wr-border {
    display: none;
  }
}
